/* ConfirmationWindow.css */

.confirmation-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Adjust the height as needed */
  }
  
  .confirmation-card {
    text-align: center;
    align-items: center;
    width: 343px;
    overflow: auto;
    resize: horizontal;
    --icon-size: 100px;
  }
  