.radioButtonGroup {
  display: flex;
  align-items: center;
}

.radioButtonGroup input[type="radio"] {
  margin-right: 5px;
}

.radioButtonGrouplabel {
  display: flex;
  align-items: center;
  margin-right: 0.5rem;
}