.radioButtonGroup {
    display: flex; 
    align-items: center; 
    margin-right: 15px; 
    margin-left: 5px;
  }
  
  .radioButtonGroup input[type="radio"] {
    margin-right: 15px; 
    margin-left: 5px;

  }